:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --ff-primary: 'Manrope', sans-serif;;
    --fs-base: 0.8125rem;
    --fw-medium: 500;
    --fw-bold: 700;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
    display: grid;
    place-content: center;
    padding: 5rem 1.5rem;
}

main {
    border-radius: 8px;
    background-color: #fff;
}

@media (min-width: 800px) {
    body {
        padding: 0 22.5rem;
    }

    main {
        display: flex;
        max-width: 750px;
    }
}

picture {
    background: url(images/drawers.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    min-height: 13.5rem;
    border-radius: 8px 0 0 8px;
}

@media (min-width: 800px) {
    picture {
        min-width: 18rem;
        background-size: cover;
    }
}

article {
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;
    padding: 2.5rem 2rem 1rem 2rem;
    color: var(--desaturated-dark-blue);
    position: relative;
}

article > h1 {
    font-size: 1rem;
    color: var(--very-dark-grayish-blue);
    font-weight: var(--fw-bold);
}

.author {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.author-name {
    color: var(--very-dark-grayish-blue);
    font-weight: var(--fw-bold);
}

.article-date {
    color: var(--grayish-blue);
}

.profile-img {
    width: 2.5rem;
    border-radius: 50%;
}

.share {
    background-color: var(--light-grayish-blue);
    padding: 0.5rem;
    border-radius: 50%;
}

.share-modal {
    display: none;
}

.share-modal > p {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--grayish-blue);
}

@media (min-width: 800px) {
    article {
        padding: 2rem 2.5rem 2rem 2.5rem;
    }

    article > h1 {
        font-size: 1.2rem;
    }

    .author {
        margin-top: 0.5rem;
    }

    .share-modal {
        display: none;
        background-color: var(--very-dark-grayish-blue);
        gap: 1rem;
        padding: 1rem 2.5rem;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        right: -18%;
    }

    .share-active {
        background-color: var(--very-dark-grayish-blue);
        color: white;
    }
}